<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500049328950-sojcq4a4u9hq2tsqfn5skuip6h5e6dk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500049328950-sojcq4a4u9hq2tsqfn5skuip6h5e6dk6</string>
	<key>API_KEY</key>
	<string>AIzaSyBHPqy0dHGrkl8OJR_B3KRwkMjz6sRpIxI</string>
	<key>GCM_SENDER_ID</key>
	<string>500049328950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Duocnt</string>
	<key>PROJECT_ID</key>
	<string>lockapp-dnt</string>
	<key>STORAGE_BUCKET</key>
	<string>lockapp-dnt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500049328950:ios:61bd01079db000f4c2d197</string>
	<key>DATABASE_URL</key>
	<string>https://lockapp-dnt.firebaseio.com</string>
</dict>
</plist>