<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>GADApplicationIdentifier</key>
	<string></string>
	<key>GADIsAdManagerApp</key>
	<true/>
	<key>LSApplicationQueriesSchemes - 2</key>
	<array>
		<string>applenewsapplenewss</string>
		<string>itms-appsitunes.apple.com</string>
		<string>itms-appssearch.itunes.apple.com</string>
		<string>itms-appsitunes.apple.com</string>
		<string>videos</string>
		<string>calshowx-apple-calevent</string>
		<string>webcalsuscribelinkforcalendar</string>
		<string>clips</string>
		<string>contacts</string>
		<string>diagnosticsdiags</string>
		<string>facetime-audiophoneoremailfacetime-audio-promptphoneoremail</string>
		<string>facetimephoneoremailfacetime-promptphoneoremail</string>
		<string>applefeedback</string>
		<string>findmyfriendsfmf1grenada</string>
		<string>fmip1</string>
		<string>gamecenteritms-gcitms-gcs</string>
		<string>garageband</string>
		<string>ibooksitms-booksitms-bookss</string>
		<string>appleiclouddrive</string>
		<string>imovie</string>
		<string>remote</string>
		<string>itmsitmss</string>
		<string>itms-itunesu</string>
		<string>mapmapsmapitem</string>
		<string>messagemailtoemailaddress</string>
		<string>smsphonenumber</string>
		<string>mobilenotes</string>
		<string>telphonenumbertelpromptphonenumber</string>
		<string>photos-redirect</string>
		<string>feedpodcast</string>
		<string>pcastitms-pcastitms-pcasts</string>
		<string>x-apple-reminder</string>
		<string>x-web-search</string>
		<string>ftplocationtofileonftpserver</string>
		<string>httpwebsiteurl</string>
		<string>httpswebsiteurl</string>
		<string>App-prefs</string>
		<string>voicememos</string>
		<string>shoebox</string>
		<string>itms-watch</string>
		<string>workflow</string>
		<string>workflowcreate-workflow</string>
		<string>workflowopen-workflow?name=name</string>
		<string>workflowrun-workflow</string>
		<string>workflowgallery</string>
		<string>workflowgallery</string>
		<string>onepasswordsearch</string>
		<string>ophttp</string>
		<string>achievement</string>
		<string>fb1431194636974533</string>
		<string>amc</string>
		<string>fb1414385748867269suffix</string>
		<string>fb1761190244145574amplifi</string>
		<string>ancestry</string>
		<string>anchorfmanchorfmspotify</string>
		<string>com.popcap.ios.BejBlitz</string>
		<string>brushstroke</string>
		<string>cakeslicehavecake</string>
		<string>cameraplus</string>
		<string>squarecashcashme</string>
		<string>citymapperdirections</string>
		<string>clashofclanswxfa242abf8cdd841atencent1105771533</string>
		<string>doordash</string>
		<string>fb225826214141508paid</string>
		<string>dbapi-1</string>
		<string>ddgLaunchddgQuickLink</string>
		<string>duolingocom.duolingo.DuolingoMobile</string>
		<string>evernotex-callback-url</string>
		<string>fb</string>
		<string>facetune</string>
		<string>fandango</string>
		<string>fitbit</string>
		<string>flickr</string>
		<string>gboard</string>
		<string>googlegmail</string>
		<string>goodreads</string>
		<string>google</string>
		<string>googleassistant</string>
		<string>googlecalendar</string>
		<string>googledocs</string>
		<string>googlechrome</string>
		<string>googledrive</string>
		<string>googleearth</string>
		<string>comgooglekeep</string>
		<string>googlemaps</string>
		<string>googlephotos</string>
		<string>googlesheets</string>
		<string>googletranslate</string>
		<string>googlevoice</string>
		<string>halide</string>
		<string>hbogo</string>
		<string>hbonow</string>
		<string>hulu</string>
		<string>hyperlapse</string>
		<string>imdb</string>
		<string>instagram</string>
		<string>instagram-storiesshare</string>
		<string>lastpass</string>
		<string>launch</string>
		<string>litely</string>
		<string>fb-messenger</string>
		<string>moviepass</string>
		<string>nflx</string>
		<string>paypal</string>
		<string>photoscan</string>
		<string>pinterest</string>
		<string>sgnl</string>
		<string>skype</string>
		<string>snapchat</string>
		<string>speedtest</string>
		<string>spotify</string>
		<string>steller</string>
		<string>tumblr</string>
		<string>twitch</string>
		<string>twitter</string>
		<string>tweetbot</string>
		<string>vimeo</string>
		<string>vsco</string>
		<string>waze</string>
		<string>whatsapp</string>
		<string>youtube</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>This app allows access to the camera. Users take pictures and add them to the app.</string>
	<key>NSContactsUsageDescription</key>
	<string>This application requires access to contacts. Users choose the contact and add them to the app. We do not put any data on the server</string>
	<key>NSLocationUsageDescription</key>
	<string>This app allows access to location access for updating nearby friends.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app allows access to location access for updating nearby cinemas.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app allows access to the microphone. Users voice recording and add them to the app.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We would like to access your camera and photos in order to create and upload pictures.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
